@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');



/* VARIABLES */

:root{
  --primary-blue: #003049;
  --primary-green: #0B6E4F;
  --primary-orange: #FA9F42;
  --primary-red: #D62828;
  --secondary-red:#7A1616;
  --primary-grey: #E0E0E2;
  --font: 'Bitter', serif;
  --transition-time: 0,2s;
  --white: white;

}

/* ------------------------------------------------------------- */
/* APP STYLING */

.app {
  text-align: center;
  font-family: var(--font);
  max-width: 600px;
  margin: 0 auto; 
}
/* ------------------------------------------------------------- */

/* ALL HEADING STYLING */

.h1-styling{
  font-size: 7vmin;
  color: var(--primary-blue);
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

/* ------------------------------------------------------------- */
#map{ 
  height: 360px;
 
}

/* ------------------------------------------------------------- */


/* ALL PRIMARY BUTTON STYLING */
.green-button{
  font-weight: bold;
  font-family: var(--font);
  background: var(--primary-green);
  display: inline-block;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
  font-size: 3vmin;
  padding: 2vmin;
  width: 60vmin;
  height: 7vmin;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  cursor: pointer;
  margin: 15px;
}

.orange-button{
  font-weight: bold;
  font-family: var(--font);
  background: var(--primary-orange);
  display: inline-block;
  border-radius: 10px;
  color: var(--primary-blue);
  text-align: center;
  font-size: 3vmin;
  padding: 2vmin;
  width: 60vmin;
  height: 7vmin;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  cursor: pointer;
  margin: 15px;
}

.red-button{
  font-weight: bold;
  font-family: var(--font);
  background: var(--primary-red);
  display: inline-block;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
  font-size: 3vmin;
  padding: 2vmin;
  width: 60vmin;
  height: 7vmin;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  cursor: pointer;
  margin: 15px;



}

.little-red-button{
  font-weight: bold;
  font-family: var(--font);
  background: var(--primary-red);
  display: inline-block;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
  font-size: 3vmin;
  padding: 2vmin;
  width: 30vmin;
  height: 7vmin;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  cursor: pointer;
  margin: 15px;
}
/* ------------------------------------------------------------- */


/* LOGIN PAGE STYLING */

#guest-login-prompt{
  font-family: var(--font);
  font-size: 2.5vmin;
  color: var(--primary-blue);
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

.login-inputs{
  display: inline-block;
  justify-content: flex-start;
  /* background-color: #61dafb; */
}


.forgotten-password-link{
  font-family: var(--font);
  font-size: 2.5vmin;
  color: var(--primary-red);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  
}
.forgotten-password-link:visited{
  font-family: var(--font);
  font-size: 2.5vmin;
  color:var(--secondary-red);
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}
/* ------------------------------------------------------------- */
/* TEXT INPUT STYLING (PRIMARY) */

.inputclass{
  
  font-family: var(--font);
  display: inline-block;
  border-radius: 10px;
  color: var(--primary-blue);
  border-color: var(--primary-blue);
  border: 4px double var(--primary-blue);
  font-size: 4vmin;
  padding: 2vmin;
  width: 75vmin;
  height: 4vmin;
  margin: 15px;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

/* ------------------------------------------------------------- */
/* CREATE USER STYLING (<P>) */

.create-account-styling{
  font-weight: bold;
  font-family: var(--font);
  font-size: 4vmin;
  text-align: start;
  padding: left 5vmin;
  color: var(--primary-blue);
}

.large-text-input{
  font-family: var(--font);
  display: inline-block;
  border-radius: 10px;
  color: var(--primary-blue);
  border-color: var(--primary-blue);
  border: 4px double var(--primary-blue);
  font-size: 4vmin;
  padding: 2vmin;
  width: 75vmin;
  height: 55vmin;
  margin: 15px;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}



/* ------------------------------------------------------------- */

.header{
  display: inline-flex;
  align-items: center;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

/* ------------------------------------------------------------- */

.our-logo {
  height: 19vmin;
  pointer-events: none;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  transition: all 0.2s;
}

/* ------------------------------------------------------------- */
/* PROFILE ICON */

.profile-icon {
  font-weight: bold;
  font-family: var(--font);
  background: var(--primary-green);
  display: inline-block;
  border-radius: 100px;
  color: var(--white);
  text-align: center;
  font-size: 8vmin;
  padding: 2vmin;
  width: 10vmin;
  height: 10vmin;
  -webkit-transition: all var(--transition-time);
  -moz-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
  cursor: pointer;
  margin: 10px;
}


/* ------------------------------------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




/* ------------------------------------------------------------- */








.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
